{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver", {
              "alias": {
                "@src": "./src"
              },
              "root": [
                "./js"
                ]
              }
        ]
    ],
    "env": {
        "browser": {
            "plugins": [
                "transform-es2015-modules-amd"
            ]
        },
        "test": {
            "plugins": [
                [
                    "module-resolver", {
                      "alias": {
                        "@src": "./src"
                      },
                      "root": [
                        "./js"
                        ]
                      }
                ]
            ]
        }
    }
}
